.madera{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,183,183,1) 50%);
    border-color:  rgba(255,183,183,1);
}
.botonBusqueda{
    color: white;
    background-color: rgb(108, 108, 235);
}
h1{
    margin-left: 40%;
}

.pebe{
    color:rgba(196, 196, 196, 0.776)
}